#################
## Ignore file ##
#################

#######################################
## Editor backup files that end with ~
*.*~

#######################################
## Campaign stuff

# Campaign directory autosave
Campaign/auto save*

# Any mission files
#Campaign/*.cam
#Campaign/*.tac
#Campaign/*.trn
#Campaign/*.ini
#Campaign/*.frc
#Campaign/*.twx
#Campaign/*.iff

Campaign/tmp*.*

# Exceptions
#!Campaign/save*
#!Campaign/AH-64*